/* lg */
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1170px) {
	#banner_1 h2 {
		margin-top: 178px
	}
}
@media (min-width: 1030px) {
	#banner_1 h2 {
		margin-top: 150px
	}
}
@media (max-width: 374px) {
	#about-us .carousel-inner .item {
		height: 667px !important
	}
	#home-2 {
		right: 7%;
		left: 7%;
	}
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
 	.social-icons ul li {
		margin-bottom: 10px;
	}
	.btn-signup {
		padding: 10px 20px;
	}

	.navbar-default .navbar-nav>li>a {
		font-size: 12px;
	}
	#home-slider {
		height: 560px;
		margin-top: 70px;
	}
	#ocean-blue-caption {
		padding: 0 86px;
		top: 34%;
	}
	#btnStartNow {
		margin-top: 114px
	}
	#btnMoreProducts {
		margin-top: 140px
	}
	#home-slider .caption {
		top: 27%;
	}
	#btnContact {
		margin-top: 86px
	}
	.carousel-caption {
		top: 30%;
	}
	.carousel-caption h2{
		font-size: 30px;
		line-height: 55px;
		width: 30%;
		margin-bottom: 40px;
	}
	.carousel-caption h2:after{
		height: 80px;
	}
	.carousel-caption h2:before{
		height: 80px;
	}
	.carousel-caption h3 {
		font-size: 40px;
		  line-height: 30px;
	}
	.carousel-caption p {
		font-size: 30px;
		  line-height: 45px;
	}
	.overlay-slide {
		height: 100%;
	}
	.carousel-indicators {
		bottom: 15%;
	}
	.carousel-control.right {
		right: 32px;
	}
}

/* xs */
@media (max-width: 767px) {
	body {
		font-size: 14px;
	}
	#home-slider .caption h1 {
		font-size: 1.3em;
	}
	#home-slider .caption {
		font-size: 15px;
		padding: 0 46px;
	}
	.left-control, .right-control {
		font-size: 20px;
		height: 30px;
		line-height: 25px;
		width: 30px;
	}
	#home-slider:hover .right-control {
		right: 15px;
	}
	#home-slider:hover .left-control {
		left: 15px;
	}
	.caption .btn-start {
		font-size: 12px;
		padding: 10px 30px;
	}
	.navbar-brand {
		padding: 0 15px 15px;
	}
	.navbar-toggle {
	  border:1px solid #fff;
	}
	#btnContact {
		margin-top: 100px
	}
	.navbar-toggle .icon-bar {
	  background-color: #fff;
	}
	.navbar-default .navbar-nav>li>a {
		padding-top: 10px;
		font-size: 12px;
		padding-bottom: 10px;
	}
	#nav-about-us {
		margin-top: 26px
	}
	#about-us {
		padding-top: 50px
	}
	#banner_1>div {
		color: #333;
		text-align: justify;
	}
	.our-services .col-sm-3:nth-child(5), .our-services .col-sm-3:nth-child(6), .our-services .col-sm-3:nth-child(7){
		padding-top: 0
	}
	#banner_1 {
		padding-left: 0;
		font-size: 1.1em;
		padding-top: 25px;
		position: initial;
	}
	.mt50 {
		margin-top: 0
	}
	#portfolio .row img {
		margin-top: 50px
	}
	#contact {
		padding-top: 0
	}
	#btnMoreProducts {
		margin-top: 212px
	}

	/*services*/
	section {
		padding: 45px 0;
	}
	.heading {
		font-size: 14px;
		padding-bottom: 45px;
	}
	.heading h2 {
		font-size: 26px;
	}
	.service-info h3 {
		font-size: 20px;
	}
	.our-services .col-sm-4 {
		margin-bottom: 32px;
		padding-bottom: 20px;
	}
	.our-services .col-sm-4:nth-child(4),
	.our-services .col-sm-4:nth-child(5),
	.our-services .col-sm-4:nth-child(6),
	.our-services .col-sm-4:nth-child(7) {
		padding-top: 0;
	}
	.service-icon {
		font-size: 30px;
		height: 65px;
		line-height: 62px;
		width: 65px;
	}
	.our-services .col-sm-4:hover .service-icon:before {
		height: 90px;
		width: 90px;
	}
	.about-info {
		text-align: center;
		margin-bottom: 50px;
	}
	.team-member {
		margin-bottom: 50px;
	}
	.social-icons ul li a {
		font-size: 14px;
		height: 30px;
		line-height: 30px;
		width: 30px;
	}
	.count .col-xs-6 {
		margin-bottom: 35px;
	}
	#features {
		min-height: 330px;
	}
	#features i {
		font-size: 35px;
	}
	#features h3 {
		font-size: 25px;
	}
	.btn-signup {
		font-size: 12px;
		margin-top: 25px;
		padding: 10px 35px;
	}
	.single-table{
		margin-bottom: 40px;
		padding: 20px;
	}
	#twitter {
		padding-bottom: 75px;
	}
	.twitter-left-control,
	.twitter-right-control {
		top: inherit;
		bottom: 30px;
		height: 25px;
		width: 25px;
		line-height: 23px;
		font-size: 14px;
	}
	.twitter-left-control {
		left: 40%
	}
	.twitter-right-control {
		right: 40%
	}
	#blog {
		overflow: hidden;
	}
	.entry-header h2 {
		line-height: 20px;
	}
	.blog-posts .col-sm-4 {
		margin-bottom: 35px;
	}
	.load-more {
		margin-top: 35px;
	}
	.btn-loadmore {
		font-size: 12px;
		padding: 15px 75px;
	}
	#contact-us .heading {
		padding-top: 35px;
	}
	.contact-info {
		padding-left: 0;
	}
	#footer .footer-bottom {
		text-align: center;
	}
	.footer-bottom p.pull-right {
		float: none !important;
	}

	#logo {
		height: 41px;
		margin-top: -2px;
	}

	.carousel-caption p {
		font-size: 35px;
		line-height: 45px;
	}
	.carousel-caption h2{
		font-size: 16px;
		line-height: 34px;
		width: 50%;
	}
	#txt-slider3-p {
		font-weight: 500;
		font-size: .7em;
		line-height: 1.8;
	}
	#home-slider .caption {
		top: 1%;
	}
		/*main Slider*/
	#home-slider {
		height: 290px;
		margin-top: 50px;
	}
	.overlay-slide {
		height: 100%;
	}
	.our-services .col-sm-3 {
		border: none;
	}
}
@media (max-width: 450px) {
	#home-video {
		background-position: 7% 0px
	}
}
@media (max-width: 1190px) {
	#banner_1 {
		top: 290px;
	}
}
@media (max-width: 1132px) {
	#banner_1 {
		top: 264px;
	}
}
@media (max-width: 1070px) {
	#banner_1 {
		top: 250px;
	}
}
@media (max-width: 1020px) {
	#banner_1 {
		top: 200px;
	}
}
@media (max-width: 968px) {
	#banner_1 {
		top: 140px;
	}
}
#us-01 {
    height: 100%;
}
